---
import MainLayout from "../layouts/MainLayout.astro";
import CheckoutPage from "../features/checkout/components/CheckoutPage";

export const prerender = false;
---

<MainLayout title="Checkout | Layer Forge">

<section class="bg-slate-50 py-20">

  <div class="mx-auto max-w-7xl px-6">

    <h1 class="mb-10 text-5xl font-bold">
      Checkout
    </h1>

    <CheckoutPage client:load />

  </div>

</section>

</MainLayout>