---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Layer Forge">
  <section class="flex min-h-[80vh] items-center justify-center">
    <div class="text-center">
      <h1 class="text-5xl font-bold">Welcome to Layer Forge</h1>
      <p class="mt-4 text-xl text-gray-600">
        Ideas Crafted Into Reality
      </p>
    </div>
  </section>
</MainLayout>