---
import MainLayout from '../layouts/MainLayout.astro';
import ProjectsGrid from "../components/projects/ProjectsGrid.astro";
---

<MainLayout title="Our Work | Layer Forge">

<section class="bg-gray-950 text-white">

  <div class="mx-auto max-w-7xl px-6 py-24 text-center">

    <p class="font-semibold uppercase tracking-[0.3em] text-yellow-400">
      OUR WORK
    </p>

    <h1 class="mt-4 text-5xl font-bold md:text-6xl">
      Inspiration Starts Here
    </h1>

    <p class="mx-auto mt-6 max-w-3xl text-xl text-gray-300">
      Explore a collection of products we've designed, printed,
      engraved and customized. Every project reflects our passion
      for craftsmanship and precision.
    </p>

  </div>

</section>


<ProjectsGrid />
</MainLayout>