---
import MainLayout from "../layouts/MainLayout.astro";
import Shop from "../features/shop/components/Shop/Shop";
---

<MainLayout title="Layer Forge Shop">
  <section class="py-20">
    <div class="mx-auto max-w-7xl px-6">
      <Shop client:load />
    </div>
  </section>
</MainLayout>