---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Supabase Test">

<div class="mx-auto max-w-4xl py-24 text-center">

  <h1 class="text-5xl font-bold">
    Supabase Connected ✅
  </h1>

</div>

</MainLayout>